

.banner{
  width: 50rem;
  max-width: 100%;
}

.banner_brand{
  width: 20rem;
  max-width: 100%;
  margin: 1rem;
}

.login_button {
  width: 15rem;
}


button:hover {
  border-color: black !important;
}

#normal_login{
  width: 20rem;
}
.sub,.header_fisa{
  text-align: center;
}

.fisa{
  margin:0.8rem 5rem
}

.fisa_pacient{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5rem;
  
}
.avatar{
  margin: 0.8rem
}

.ant-table-wrapper {
  height: 80vh;
}

.ant-empty-description{
  display: none;
}

.ant-descriptions-item-content
{white-space: pre-wrap;}

h5, h4{
  margin-top: 0;
}

.delimiter
{
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: 8px;
  padding: 0.8rem;
}

.back_button{
  text-align: right;
  margin: 0.8rem;
}

.banner_print{
  display: none;
}

@media print{
  .to_hide{
  display:none;
  }
  .ant-modal-close{
    display:none;
  }
  .banner_print{
    display: block;
    
  }
  .banner_print_img{
    width: 10rem;
  }
}

  
@media print { 
  html {
    overflow:   auto;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; 
  }

  @page { margin: 0; size: A4;}
  body { margin: 0; }
  

.section-to-print {margin-top: -5rem !important; }
.ant-modal-content{ box-shadow:none !important;}

.delimiter {
  page-break-inside: avoid;
}

}