

.banner{
  width: 50rem;
  max-width: 100%;
}

.banner_brand{
  width: 20rem;
  max-width: 100%;
  margin: 1rem;
}

.login_button {
  width: 15rem;
}


button:hover {
  border-color: black !important;
}

#normal_login{
  width: 20rem;
}
.sub,.header_fisa{
  text-align: center;
}

.fisa{
  margin:0.8rem 5rem
}

.fisa_pacient{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5rem;
  
}
.avatar{
  margin: 0.8rem
}

.ant-table-wrapper {
  height: 80vh;
}

.ant-empty-description{
  display: none;
}

.ant-descriptions-item-content
{white-space: pre-wrap;}

h5, h4{
  margin-top: 0;
}

.delimiter
{
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: 8px;
  padding: 0.8rem;
  margin: 0.8rem;
}

.back_button{
  text-align: right;
  margin: 0.8rem;
}

.banner_print{
  display: none;
}

.print_button{
  margin: 0.8rem;
}

@media print{
  .to_hide, .ant-modal-close {
    display: none;
  }
  .delimiter{
    page-break-inside: avoid;

  }


  .banner_print{
    display: block;
  }
  .banner_print_img{
    width: 10rem;
  }


  html {
    overflow: scroll;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    width: 0;
}


}


@media print {

  
  .section-to-print, .section-to-print * {
    visibility: visible;
  }

  .section-to-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    page-break-inside: avoid;
  }

  .ant-descriptions{
    page-break-inside: avoid;
  }

  .to_hide {
    display: none;
  }

  .banner_print {
    text-align: center;
  }

  .banner_print_img {
    max-width: 100%;
  }

  .ant-modal {
    position: static !important;
    overflow: visible !important;
    max-height: none !important;
  }

  .ant-modal-content {
    box-shadow: none;
  }

.ant-modal-content
{
  box-shadow: none !important;
  padding: 0 !important;
}

.tooltip{
  display: none;
}


}

